<footer>
	<section>
		<a href="{{ path('app_main') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Symblog" loading="lazy"> SymBlog</a>
	</section>
	<section>
		<a href="{{ path('app_mentions') }}">Mentions légales</a>
	</section>
</footer>
