<nav class="navbar">
	<a href="{{ path('app_main') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Symblog" loading="lazy"></a>
	<ul>
		<li><a href="#">Accueil</a></li>
		<li><a href="#">Articles</a></li>
		<li><a href="#">Catégories</a></li>
		<li><a href="#">Auteurs</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Recherche</a></li>
	</ul>
</nav>
